<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @journal_entry.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @journal_entry.entry %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @journal_entry.todo %>
</p>

<p>
  <strong>Thoughts:</strong>
  <%= @journal_entry.thoughts %>
</p>

<%= link_to 'Edit', edit_journal_entry_path(@journal_entry) %> |
<%= link_to 'Back', journal_entries_path %>
